body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, footer {
  background-color: #134a59;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.container {
  display: flex;
  min-height: 80vh;
}
.left {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #0d9dad;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #0d9dad;
  color: white;
  padding: 15px;
}

.sidebar h2 {
  margin-top: 0;
}

button {
  background-color: #fff;
  color: #0d9dad;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #e0e0e0;
}

.main-content {
  width: 80%;
  padding: 15px;
  background-color: #f4f4f4;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #134a59;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #134a59;
}


.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.color-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 60px; 
  min-height: 24px; 
  padding: 2px 8px; 
  margin-left: 10px;
  border-radius: 4px;
  color: rgb(0, 0, 0); 
  border: solid black;
  font-weight: bold;
  text-align: center; 
  font-size: 14px; 
  box-sizing: border-box; 
}



.delete-button {
    background-color: #0d9dad; 
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #0d9dad;
}

footer {
  background-color: #134a59;
  color: white;
  text-align: center;
  padding: 10px 0;
}
